*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #fff;
    background-color: black;
    box-sizing: border-box;
}

@font-face {
    font-family: monument;
    src: url('../fonts/MonumentExtended-Regular.otf');
}