.mr-8 {
    margin-right: 8rem;
}

.mr-6 {
    margin-right: 6rem;
}


@include respond(mobile-landscape-m) { // width <= 516px  
    .mr-8 {
        margin-right: 1rem;
    }
    
    .mr-6 {
        margin-right: 2rem;
    }
}