/* HEADER TEXT */

.header-text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-family: monument;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(8, 8, 8);
    text-shadow:
                -1.3px -1.3px 0 #fff,  
                1.3px -1.3px 0 #fff,
                -1.3px 1.3px 0 #fff,
                1.3px 1.3px 0 #fff;

    opacity: 0;
    transition: all 1s;
}


@include respond(tablet-portrait-pro) { // width <= 1024px  
    .header-text {
        top: 40%;
        font-size: 3rem;
    }
}

@include respond(mobile-landscape-m) { // width <= 516px  
    .header-text {
        font-size: 3.4rem;
    }
}