#bar-fill-3 {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

.section-statement {
    position: absolute;
    /*top: 160%;*/
    /*top: 100%;*/
    top: 135%;
    transition: all .3s;
    
}

#statement-bar {
    height: 5rem;
    transition: all .3s;
}

.statement-text {
    opacity: 0;
    transition: all .2s;
}